In [1]:
import os
import pandas as pd
import glob

In [2]:
dirname = 'C:/Users/serg-/Desktop/For_test/'
files = os.listdir(dirname)
files

['Test1.csv', 'Тест 2.csv']

In [6]:
Result = pd.DataFrame()
for file in files:
    df = pd.read_csv(dirname+file, sep=';')
    Result = pd.concat([Result, df], ignore_index=True)
Result

   id person  answer
0   3   Alex      33
1   4   Roma      12
2   1   Serg      19
3   2   Dima      22