In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, classification_report, roc_auc_score, confusion_matrix

**Задание:**

**1.** Построить модель мультиклассификации на основе логистической регрессии 

**2.** Выведите метрики модели: **accuracy**, **precision**, **recall**, **f1-score**. Допустимо ли в данной задаче использовать метрику **accuracy**?

**3.** Превратите задачу мультиклассификации в задачу бинарной классификации и постройте еще одну модель логистичекой регрессии, но уже для бинарной классификации. 

**4.** Сравните метрики качества бинарной и мультиклассовой классификации. Изменились ли существенно метрики бинарной классификации в сравнении мультиклассификацией? Подумайте и объясните, почему так произошло? Можно для объяснения использовать визуализацию

**5.** Написать функции, которые считают метрики **precision**, **recall**, **f1-score** (для бинарной классификации). Убедитесь, что функции работают правильно, сравнив результаты их работы с метриками **classification_report** из библиотеки skelarn.

**Суммарное количество баллов: 15**

**6.** Использовать нормализацию и стандартизацию??

*Помню, что говорили добавить пункт про нормализацию и стандартизацию, но не записал, что конкретно надо было сделать.*

**Данные:**

В датасете представленны разничные характеристики телефонов (признаки) и их ценовая группа (столбец **price_range** -  целевая переменная). Необходимо спрогнозировать, к какому классу по стоимости относится телефон.

In [2]:
data = pd.read_csv('PhoneClassification.csv')
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

1. Разбить данные на тест и трейн

In [3]:
data['price_range'].value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

Дисбаланса классов нет. Это также пригодится в дальнейшем при использовании метрик.

In [4]:
# Строим модель
x = data[['battery_power','blue', 'clock_speed', 'dual_sim','fc', 
      'four_g', 'int_memory', 'm_dep',	'mobile_wt',	'n_cores',	'pc',	'px_height',	'px_width',	
      'ram',	'sc_h',	'sc_w',	'talk_time',	'three_g',	'touch_screen',	'wifi']]
y = data['price_range']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=45)
log_reg = LogisticRegression(solver="sag", max_iter=10000)
model = log_reg.fit(x_train, y_train) 

pred_train = model.predict(x_train)

In [5]:
# Выводим метрики для обучающих данных
print('1. Accuracy train: ', accuracy_score(y_train, pred_train))
print('_'*60)
print('\n2. Classification_report: \n\n', classification_report(y_train, pred_train))

1. Accuracy train:  0.7173333333333334
____________________________________________________________

2. Classification_report:

               precision    recall  f1-score   support

           0       0.87      0.85      0.86       366
           1       0.67      0.66      0.66       363
           2       0.58      0.54      0.56       369
           3       0.74      0.82      0.78       402

    accuracy                           0.72      1500
   macro avg       0.71      0.72      0.71      1500
weighted avg       0.71      0.72      0.72      1500

In [6]:
# Выводим метрики для тестовых данных
pred_test = model.predict(x_test) 
print('1. Accuracy test: ', accuracy_score(y_test, pred_test))
print('_'*60)
print('\n2. Classification_report: \n\n', classification_report(y_test, pred_test))

1. Accuracy test:  0.664
____________________________________________________________

2. Classification_report:

               precision    recall  f1-score   support

           0       0.87      0.83      0.85       134
           1       0.59      0.58      0.58       137
           2       0.53      0.44      0.48       131
           3       0.65      0.87      0.75        98

    accuracy                           0.66       500
   macro avg       0.66      0.68      0.66       500
weighted avg       0.66      0.66      0.66       500

Метрику accuracy использовать допустимо, поскольку классы сбалансированы.

In [7]:
data.loc[(data['price_range'] == 1), ('price_range')] = 0 
data.loc[(data['price_range'] == 2), ('price_range')] = 1 
data.loc[(data['price_range'] == 3), ('price_range')] = 1

In [8]:
# Строим модель
x = data[['battery_power','blue', 'clock_speed', 'dual_sim','fc', 
      'four_g', 'int_memory', 'm_dep',	'mobile_wt',	'n_cores',	'pc',	'px_height',	'px_width',	
      'ram',	'sc_h',	'sc_w',	'talk_time',	'three_g',	'touch_screen',	'wifi']]
y = data['price_range']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=45)
log_reg = LogisticRegression(solver="sag", max_iter=10000)
model = log_reg.fit(x_train, y_train) 

pred_train = model.predict(x_train)

In [9]:
# Выводим метрики для обучающих данных
print('1. Accuracy train: ', accuracy_score(y_train, pred_train))
print('_'*60)
print('\n2. Classification_report: \n\n', classification_report(y_train, pred_train))

1. Accuracy train:  0.8993333333333333
____________________________________________________________

2. Classification_report:

               precision    recall  f1-score   support

           0       0.91      0.88      0.89       729
           1       0.89      0.92      0.90       771

    accuracy                           0.90      1500
   macro avg       0.90      0.90      0.90      1500
weighted avg       0.90      0.90      0.90      1500

In [10]:
# Выводим метрики для тестовых данных
pred_test = model.predict(x_test) 
print('1. Accuracy test: ', accuracy_score(y_test, pred_test))
print('_'*60)
print('\n2. Classification_report: \n\n', classification_report(y_test, pred_test))

1. Accuracy test:  0.866
____________________________________________________________

2. Classification_report:

               precision    recall  f1-score   support

           0       0.90      0.85      0.87       271
           1       0.83      0.88      0.86       229

    accuracy                           0.87       500
   macro avg       0.87      0.87      0.87       500
weighted avg       0.87      0.87      0.87       500

Метрики качества у бинарной модели лучше, чем у модели с мультиклассификацией. Это вызвано тем, что верно предсказать вероятность попадания при двух классах выше, чем при четырёх.

Функции для обучающей выборки

In [11]:
print('Confusion matrix:\n', confusion_matrix(y_train, pred_train))

Confusion matrix:
 [[638  91]
 [ 60 711]]

In [12]:
# precision
def precision_func(TP, FP):
  return(TP/(TP+FP))
precision = precision_func(711,91)
precision

0.8865336658354115

In [13]:
# recall
def recall_func(TP, FN):
  return(TP/(TP+FN))
recall = recall_func(711,60)
recall

0.9221789883268483

In [14]:
# f1-score
def fscore_func(recall_func, precision_func, beta):
  return((1+beta**2)*((recall_func*precision_func)/((precision_func*beta**2)+recall_func)))
fscore = fscore_func(recall_func(711,60), precision_func(711,91), 0.5)
fscore

0.8934405629555164